@font-face {
    font-family: 'LabyHJ1';
    src: url('LabyHJ1-B.eot'); /* IE9 Compat Modes */
    src: url('LabyHJ1-B.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('LabyHJ1-B.woff2') format('woff2'), /* Modern Browsers */
         url('LabyHJ1-B.woff') format('woff'), /* Modern Browsers */
         url('LabyHJ1-B.ttf') format('truetype'); /* Safari, Android, iOS */
    font-style: normal;
    font-weight: b;
    text-rendering: optimizeLegibility;
}

